.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 30px;
    padding: 20px;
    width: 70%;
}

.grid-container > div {
    border: 1px solid darkviolet;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#cellule1, #cellule7, #cellule19, #cellule25{
    border: 1px solid darkviolet;
    height: 150px;
    width: 150px;
    border-radius: 0;
}
#cellule13{
    border: 1px solid darkviolet;
    height: 150px;
    width: 150px;
    border-radius: 0;
    transform: rotate(45deg) scale(0.8);
}
.bouton1{
    width: 70%;
}
#bouton1{
    background-color: darkcyan;
    color: cornsilk;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.plein {
    background-color: yellow;
    animation-name: example;
    animation-duration: 15s;
}
@keyframes example {
    0%   {background-color: yellow;}
    20%  {background-color: orange;}
    40%  {background-color: red;}
    60% {background-color: orange;}
    80%   {background-color: yellow;}
}
